*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --bock-body:#ECE9FD;
    --text-darck:#090039;
    --text-darck-light:#7158EF;
    --text-darck-gray:#0A0039;

    --font-epilogue:'Epilogue', sans-serif;

    font-size: 62.5%;
}

body{
    background-color: var(--bock-body);
    font-size: 1.6rem;
    font-family: var(--font-epilogue);
    padding: 6.2rem 2.3rem 6.6rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 7.2rem;
    margin: 0 auto;
    max-width: 32.9rem;
}

.box-1 span{
    color: var(--text-darck-light);
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 3.2rem;
    text-transform: uppercase;
}

.box-1 h1{
    color:var(--text-darck) ;
    font-weight: 800;
    font-size: 4rem;
    line-height: 4rem;
    margin: 1.5rem 0;
    
}

.box-1 p {
    color: var(--text-darck-gray);
    font-weight: 400;
    line-height: 3.2rem;
    margin-bottom: 3.2rem;
}

.box-1 a {
    color: var(--text-darck);
    font-weight: 400;
    line-height: 3.2rem;
}